REDMINE_DB_POSTGRES={{ POSTGRESQL_HOST }}
REDMINE_DB_DATABASE={{ POSTGRESQL_DB }}
REDMINE_DB_USERNAME={{ POSTGRESQL_USER }}
REDMINE_DB_PASSWORD={{ POSTGRESQL_PASSWORD }}
REDMINE_DB_PORT={{ POSTGRESQL_PORT }}